<head>
  <% content_for :head do %>
    <title>
        <%= @user.name %>のページ - Monolist
    </title>
    <meta name="description" content="<%= current_user.name %>のモノページ。<%= @user.name %>の欲しいモノ、持ってるモノを表示しています。">
  <% end %>
</head>

<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>